.Search {
    text-align: center;
    box-sizing: border-box;
    margin: auto;

    form {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    input {
        width: 80%;
        border-style: solid;
        border-right-style: hidden;
        border-width: 1px;
        border-color: #afadad
    }

    button{
        border-style: solid;
        border-left-style: hidden;
        border-width: 1px;
        border-color: #afadad;
        box-sizing: border-box;
    }

}

@media (min-width: 600px) {
    .Search {
        width: 500px;
    }
}