.RestaurantForm {
    z-index: 300;
    position: fixed;
    top: 20%;
    left: 5%;
    margin: 0 auto;
    padding: 0.5rem 1rem 1rem 1rem;
    box-sizing: border-box;
    width:90%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
    overflow-y: auto;
    max-height: 60vh;

    .CloseForm {
      text-align: right;
      button {
        font-size: 1.5rem;
        border-style: none;
        background-color: rgba(0,0,0,0);
        width: 2rem;
        height: 2rem;
      }
    }

    label {
      font-weight: bold;
      select {
        margin-top: 0.5rem;
        display: block;
        font-size: 1.2rem;
      }
      .notDisplay {
        display: none;
      }
    }

    .Bold {
      font-weight: bold;
    }

    .SubmitComment {
        width: 10rem;
        margin: 1rem auto 0.2rem auto;
        text-align: center;
        border: 1px #dddddd;
        border-style: solid;
        border-radius: 5px;
        box-sizing: border-box;
        height: 2.5rem;
        color: rgba(0, 0, 0, 0.712);
        font-weight: 500;
        font-size: 1.5rem;
        background-color: #42dd135d;
        position: relative;
        left: calc(50% - 5rem);
        &:disabled{
          color: rgba(0, 0, 0, 0.123);
          background-color: #42dd130e;
        }
    }
  }

  @media (min-width: 600px) {
    .RestaurantForm{
        width: 540px;
        left: calc(50% - 270px);
    }
}
  